<head>
  <style>
      .post-container {
        display: flex;
        flex-direction: row;
      }

      .container-controller {
        display: flex;
      }

      .sidebar-box {
        display: flex;
        flex-direction: column;
      }

      .menu-item {
        text-indent: 50px;
      }

      .col-border {
        border-right: 1px solid black; 
        border-left: 1px solid black; 
      }

      .menu-section {
        border-bottom: 1px solid black;
        font-size: 12px;
        color: #6a737c;
      }

      .overflow-blog-section {
        background-color: #f1e5bc;
        border: 1px solid gray;
        border-radius: 3px;
        font-size: 10px;
        box-shadow: 1px 1px 10px 1px gray;
      }

      .overflow-blog-section-header {
        background-color: #e6d178;
        padding: 10px;
      }

      .overflow-blog-section-item {
        padding-left: 10px;
      }
     
  </style>
</head>

<p id="notice"><%= notice %></p>

<h1>Posts</h1>
<br>
<%= link_to 'New Post', new_post_path %>
<br><br>

<div class="container">

  <div class="row">
    <div class="col">
      <div class="menu-section"
        <p>Home</p>
        <p>PUBLIC</p>
        <p class='menu-item'>Tags</p>
        <p class='menu-item'>Users</p>
        <p>FIND A JOB</p>
        <p class='menu-item'>Jobs</p>
        <p class='menu-item'>Companies</p>
        <p>TEAMS</p>
      </div>
    </div>
    <div class="col-6 col-border">
      <h2>Top Questions</h2>

      <div class="post-container d-inline d-flex bd-highlight">
          <% @posts.each do |post| %>
        <div class="container-controller">
            <div class="sidebar-container p-2 flex-shrink-1 bd-highlight">
              <div class="sidebar-box">
                  <p><%= post.upvotes %></p>
                  <p>upvotes</p>
              </div>
              <div class="sidebar-box">
                  <p><%= post.answers %></p>
                  <p>answers</p>
              </div>
              <div class="sidebar-box">
                  <p><%= post.views %> views</p>
              </div>
            </div>

            <div class="main-container">
              <div class="p-2 w-100 bd-highlight">
                  <h4><%= post.title %></h4>
              </div>
              <div class="p-2 w-100 bd-highlight">
                  <p><%= post.description %></p>
              </div>
            </div>

        </div>
        <% end %>
      </div>



    </div>
    <div class="col">
      <div class="overflow-blog-section">
        <p class="overflow-blog-section-header">The Overflow Blog</p>
        <p class="overflow-blog-section-item">Level Up: Creative Coding with p5.js – part 6</p>
        <p class="overflow-blog-section-item">How often do people actually copy and paste from Stack Overflow? Now we know.</p>
        <p class="overflow-blog-section-header">Featured on Meta</p>
        <p class="overflow-blog-section-item">
        Stack Overflow for Teams is now free for up to 50 users, forever</p>
        <p class="overflow-blog-section-item">Outdated Answers: results from use-case survey</p>
        <p class="overflow-blog-section-item">Downvotes Survey results</p>
        <p class="overflow-blog-section-header">Hot Meta Posts</p>
        <p class="overflow-blog-section-item">
        Let's go off-[script]!</p>
        <p class="overflow-blog-section-item">Obvious copied answer not being deleted</p>
      </div>
    </div>
  </div>
</div>

